<header class="c-header">
  <div class="c-header__box">
    <div class="c-search">
      <div class="c-search__box">
        <label for="js-search-input" class="u-screen-reader-text">Search for Blog</label>
        <input type="text" id="js-search-input" class="c-search__text" autocomplete="off" placeholder="Type to search..." data-search-json="{{ site.baseurl }}/search.json" data-site-baseurl="{{ site.baseurl }}" data-home-url="{{ site.baseurl }}/" data-site-title="{{ site.title }}">
      </div>
      <ul id="js-results-container" class="c-search-results-list"></ul>
    </div>
    <button class="c-hamburger" id="js-hamburger" aria-label="Toggle navigation menu" aria-expanded="false">
      <span class="c-hamburger__line"></span>
      <span class="c-hamburger__line"></span>
      <span class="c-hamburger__line"></span>
    </button>
    <nav class="c-nav" id="js-nav-menu">
      <ul class="c-nav__list u-lists-reset">
        <li class="c-nav__item {% if page.url == '/' or page.url == '/index.html' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="c-nav__item {% if page.url contains '/profile' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/profile/">Profile</a>
        </li>
        <li class="c-nav__item {% if page.url contains '/research' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/research/">Research</a>
        </li>
        <li class="c-nav__item {% if page.url contains '/podcasts' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/podcasts/">Podcast</a>
        </li>
        <li class="c-nav__item {% if page.url contains '/videos' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/videos/">Video</a>
        </li>
        <li class="c-nav__item {% if page.url contains '/lab' %}is-active{% endif %}">
          <a href="{{ site.baseurl }}/lab/">Lab</a>
        </li>
      </ul>
    </nav>
  </div>
</header> <!-- /.c-header -->