/* ===============
	SCROLL TOP
=============== */

.c-top {
  position: fixed;
  width: 40px;
  height: 40px;
	bottom: 20px;
  color: $gray-dark;
	cursor: pointer;
	transition: $global-transition;
	right: -100px;
	z-index: 10;
  opacity: .5;
  @include dark-mode {
    color: #a8aeb8;
  }

  &--active {
    right: 15px;
  }

  &:hover {
    color: $gray-dark;
		opacity: 1;
    @include dark-mode {
      color: #8fd68f;
    }
  }
}